{% extends 'blog/base.html' %}

{% block content %}

<body>


    <section class="section">
        <div class="container">
            <div class="content">
                <div style="display: flex; justify-content: space-between;">
                    <h1 class="title flexible">Shivaram Kumar</h1>
                    <p class="subtitle right">Practitioner - AI | Data Science | Algorithms</p>
                </div>
                <hr>
                <div class="block">
                    <h2 class="subtitle">Contact</h2>
                    <p class="icon-text"><i class="fas fa-envelope icon"></i>shiraku.official@gmail.com</p>
                    <p class="icon-text"><i class="fab fa-github icon"></i><a
                            href="https://www.github.com/ShirakuGIT">ShirakuGIT</a></p>
                    <p class="icon-text"><i class="fab fa-linkedin icon"></i><a
                            href="https://www.linkedin.com/in/shivaramkumarj">shivaramkumarj</a></p>
                </div>

                <div class="block">
                    <h2 class="subtitle">Projects</h2>
                    <ul>
                        <li>PageRank Algorithm Implementation</li>
                        <li>Petrichor - Word Search Web Application</li>
                    </ul>
                </div>

                <div class="block">
                    <h2 class="subtitle">Skills</h2>
                    <ul>
                        <li>Machine Learning & Data Science</li>
                        <li>Python, Numpy, TensorFlow, Keras</li>
                        <li>Web Development (HTML, CSS, JavaScript)</li>
                    </ul>
                </div>

                <div class="block">
                    <h2 class="subtitle">Experience</h2>
                    <p>Head of Data Science at Codex, leading several data science projects.</p>
                    <p>Intern at Exponent Energy as an Embedded Systems Engineer and Data Scientist.</p>
                </div>
            </div>
        </div>
    </section>



</body>


{% endblock %}